@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
  --color-green-pharma: #00c498;
  --color-lightgreen-pharma: #f5fafa;

  /* Example Blue shades */
  --color-blue-500: #06396a;
  --color-blue-400: #1a4b8c;
  --color-blue-300: #3762a3;
  --color-blue-pharma: #06396a;
}

/* Green colors */
.text-green-pharma { color: var(--color-green-pharma); }
.bg-green-pharma { background-color: var(--color-green-pharma); }
.bg-lightgreen-pharma { background-color: var(--color-lightgreen-pharma); }

/* Blue colors */
.text-blue-pharma { color: var(--color-blue-pharma); }
.bg-blue-pharma { background-color: var(--color-blue-pharma); }

.swiper {
  width: 100%;
  height: 100%;
  padding: 0 0 60px 0 !important;
}

.swiper-pagination-bullet {
  background: var(--color-green-pharma) !important;
  opacity: 0.4; /* lighter for inactive */
}

/* Active bullet fully green */
.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--color-green-pharma);
}

body {
  background: white;
  color: var(--color-blue-pharma);
}
